<!DOCTYPE html>
<html>
<head>
  <title>ParkFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Indie+Flower|Bree+Serif' rel='stylesheet' type='text/css'>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
</head>
<body>
<%= render :partial => "layouts/nav.html.erb" %>
<%= yield %>
</body>
</html>
